<%- model_class = Entertainment -%>
<div class="page-header">
  <h3><b><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></b></h3>
</div>
<%= render :partial => 'form' %>
<br/><br/>
<%= link_to t('.index', :default => t("helpers.links.ALL Established Entertainments")),
            entertainments_path,
            :class => 'btn btn-primary btn btn_side' %>