<div class="page-header">
  <h1>Report By Function</h1>
</div>
<%- model_class = Entertainment -%>
<table id="flip-scroll">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:function) %></th>
      <th class="numeric">Count</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
<%= render :partial => 'report' %>
