<div class="page-header">
  <h1>Report By Function</h1>
</div>
<%- model_class = Entertainment -%>
<table id="flip-scroll" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:function) %></th>
      <th class="numeric">Count</th>
    </tr>
  </thead>
  <tbody>
    <% @by.each do |entertainment| %> 
      <tr>
        <td><%= link_to entertainment,'/entertainments/report/1/1/'+entertainment+'/1', :class => 'undecorate'  %></td>
        <td data-title="Url" class="numeric"><%= @count[entertainment] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
