<div class="page-header">
  <h1>Report By State OR Province</h1>
</div>
<%- model_class = Entertainment -%>
<table id="flip-scroll" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:stateorprovince) %></th>
      <th class="numeric">Count</th>
    </tr>
  </thead>
  <tbody>
    <% @by.each do |entertainment| %> 
      <tr>
        <td><%= entertainment %></td>
        <td data-title="Url" class="numeric"><%= @count[entertainment] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => 'report' %>
