<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(params[:parent_region]) %>

  <% if country.nil? %>
    <input class="form-control" id="user_company_mailing_state_or_province" name="user[company_mailing_state_or_province]" type="text" placeholder="select the country above" disabled="disabled">	
  <% elsif country.subregions? %>
    <%= subregion_select(:user, :company_mailing_state_or_province, parent_region) %>
  <% else %>
   <input class="form-control" id="user_company_mailing_state_or_province" name="user[company_mailing_state_or_province]" type="text" placeholder="No state listed" disabled="disabled">
  <% end %>
</div>
<script type="text/javascript">
	$("#user_company_mailing_state_or_province").select2();
</script>