<div class"image-upload" style="margin: 70px 31%;">
<%= form_for @painting,:url=>url, :html => {:multipart => true } , :method => method do |f| %>
  <p>
    <%= f.file_field :image , { :class=>"btn btn_side"}%>
  </p>
  <p><%= f.submit "Upload Your Photo", :class=>"btn btn_side"%></p>
<% end %>
</div>