.region-breaker{
	background: rgb(158,158,158) -moz-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(112,112,112,1) 5%, rgba(122,122,122,1) 9%, rgba(96,96,96,1) 23%, rgba(35,35,35,1) 27%, rgba(14,14,14,1) 32%, rgba(15,15,15,1) 36%, rgba(11,11,11,1) 45%, rgba(11,11,11,1) 55%, rgba(14,14,14,1) 64%, rgba(21,21,21,1) 73%, rgba(26,26,26,1) 77%, rgba(52,52,52,1) 91%, rgba(58,58,58,1) 95%, rgba(147,147,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,158,158,1)), color-stop(5%,rgba(112,112,112,1)), color-stop(9%,rgba(122,122,122,1)), color-stop(23%,rgba(96,96,96,1)), color-stop(27%,rgba(35,35,35,1)), color-stop(32%,rgba(14,14,14,1)), color-stop(36%,rgba(15,15,15,1)), color-stop(45%,rgba(11,11,11,1)), color-stop(55%,rgba(11,11,11,1)), color-stop(64%,rgba(14,14,14,1)), color-stop(73%,rgba(21,21,21,1)), color-stop(77%,rgba(26,26,26,1)), color-stop(91%,rgba(52,52,52,1)), color-stop(95%,rgba(58,58,58,1)), color-stop(100%,rgba(147,147,147,1)));
	background: -webkit-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(112,112,112,1) 5%,rgba(122,122,122,1) 9%,rgba(96,96,96,1) 23%,rgba(35,35,35,1) 27%,rgba(14,14,14,1) 32%,rgba(15,15,15,1) 36%,rgba(11,11,11,1) 45%,rgba(11,11,11,1) 55%,rgba(14,14,14,1) 64%,rgba(21,21,21,1) 73%,rgba(26,26,26,1) 77%,rgba(52,52,52,1) 91%,rgba(58,58,58,1) 95%,rgba(147,147,147,1) 100%);
	background: -o-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(112,112,112,1) 5%,rgba(122,122,122,1) 9%,rgba(96,96,96,1) 23%,rgba(35,35,35,1) 27%,rgba(14,14,14,1) 32%,rgba(15,15,15,1) 36%,rgba(11,11,11,1) 45%,rgba(11,11,11,1) 55%,rgba(14,14,14,1) 64%,rgba(21,21,21,1) 73%,rgba(26,26,26,1) 77%,rgba(52,52,52,1) 91%,rgba(58,58,58,1) 95%,rgba(147,147,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(158,158,158,1) 0%,rgba(112,112,112,1) 5%,rgba(122,122,122,1) 9%,rgba(96,96,96,1) 23%,rgba(35,35,35,1) 27%,rgba(14,14,14,1) 32%,rgba(15,15,15,1) 36%,rgba(11,11,11,1) 45%,rgba(11,11,11,1) 55%,rgba(14,14,14,1) 64%,rgba(21,21,21,1) 73%,rgba(26,26,26,1) 77%,rgba(52,52,52,1) 91%,rgba(58,58,58,1) 95%,rgba(147,147,147,1) 100%);
	background: linear-gradient(to bottom, rgba(158,158,158,1) 0%,rgba(112,112,112,1) 5%,rgba(122,122,122,1) 9%,rgba(96,96,96,1) 23%,rgba(35,35,35,1) 27%,rgba(14,14,14,1) 32%,rgba(15,15,15,1) 36%,rgba(11,11,11,1) 45%,rgba(11,11,11,1) 55%,rgba(14,14,14,1) 64%,rgba(21,21,21,1) 73%,rgba(26,26,26,1) 77%,rgba(52,52,52,1) 91%,rgba(58,58,58,1) 95%,rgba(147,147,147,1) 100%);
	padding: 5px 0;
	border-radius: 25px;
	text-align: center;
	color: white;
	margin: 10px 0;
	display: block;
}

 .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    -webkit-border-radius: -1px !important;
	border-radius:25px !important;
	background: aliceblue;
	border: 3px solid #3fb897 !important;
	width: 100% !important;
  }
#pro_image{
	position: absolute;
	top: 0px;
}
.page-header{
	text-align: center;
	display: block;
}
.panel-heading{
	text-align: center;
	display: block;
}
.user_name{
	margin: 10px 0;
	padding: 0 5px;
}
.user_name .btn {
	float: right;
	color: #fff ! important;
}
.main_layout{
	border: 6px solid #3fb897;
}
.btn_side{
	display: block;
	background: #3fb897;
	color: #000;
	margin: 0 0 20px;
	font-weight: bold;
}
.border-left{
	min-height: 576px;
	border-left: 6px solid #3fb987;
}
.image_holder{
	overflow: hidden;
	display: block;
}
.image_holder img{
	width: 290px;
	height: 250px;
}
.side_bar .btn{
	text-decoration: none;
	font-size: 11px; 
	border: 1px solid #bbb;
	border-radius: 25px !important; color: #000; background: rgb(130,202,178) -moz-linear-gradient(top, rgba(130,202,178,1) 0%, rgba(140,212,188,1) 4%, rgba(120,220,192,1) 7%, rgba(116,216,188,1) 11%, rgba(107,220,190,1) 14%, rgba(102,215,185,1) 18%, rgba(80,198,166,1) 21%, rgba(76,194,162,1) 25%, rgba(78,199,164,1) 29%, rgba(78,199,164,1) 32%, rgba(81,207,169,1) 36%, rgba(83,209,171,1) 39%, rgba(82,211,172,1) 57%, rgba(76,205,166,1) 68%, rgba(74,192,157,1) 79%, rgba(69,187,152,1) 82%, rgba(70,181,148,1) 86%, rgba(64,172,140,1) 93%, rgba(63,171,139,1) 96%, rgba(65,156,125,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,202,178,1)), color-stop(4%,rgba(140,212,188,1)), color-stop(7%,rgba(120,220,192,1)), color-stop(11%,rgba(116,216,188,1)), color-stop(14%,rgba(107,220,190,1)), color-stop(18%,rgba(102,215,185,1)), color-stop(21%,rgba(80,198,166,1)), color-stop(25%,rgba(76,194,162,1)), color-stop(29%,rgba(78,199,164,1)), color-stop(32%,rgba(78,199,164,1)), color-stop(36%,rgba(81,207,169,1)), color-stop(39%,rgba(83,209,171,1)), color-stop(57%,rgba(82,211,172,1)), color-stop(68%,rgba(76,205,166,1)), color-stop(79%,rgba(74,192,157,1)), color-stop(82%,rgba(69,187,152,1)), color-stop(86%,rgba(70,181,148,1)), color-stop(93%,rgba(64,172,140,1)), color-stop(96%,rgba(63,171,139,1)), color-stop(100%,rgba(65,156,125,1)));
background: -webkit-linear-gradient(top, rgba(130,202,178,1) 0%,rgba(140,212,188,1) 4%,rgba(120,220,192,1) 7%,rgba(116,216,188,1) 11%,rgba(107,220,190,1) 14%,rgba(102,215,185,1) 18%,rgba(80,198,166,1) 21%,rgba(76,194,162,1) 25%,rgba(78,199,164,1) 29%,rgba(78,199,164,1) 32%,rgba(81,207,169,1) 36%,rgba(83,209,171,1) 39%,rgba(82,211,172,1) 57%,rgba(76,205,166,1) 68%,rgba(74,192,157,1) 79%,rgba(69,187,152,1) 82%,rgba(70,181,148,1) 86%,rgba(64,172,140,1) 93%,rgba(63,171,139,1) 96%,rgba(65,156,125,1) 100%);
background: -o-linear-gradient(top, rgba(130,202,178,1) 0%,rgba(140,212,188,1) 4%,rgba(120,220,192,1) 7%,rgba(116,216,188,1) 11%,rgba(107,220,190,1) 14%,rgba(102,215,185,1) 18%,rgba(80,198,166,1) 21%,rgba(76,194,162,1) 25%,rgba(78,199,164,1) 29%,rgba(78,199,164,1) 32%,rgba(81,207,169,1) 36%,rgba(83,209,171,1) 39%,rgba(82,211,172,1) 57%,rgba(76,205,166,1) 68%,rgba(74,192,157,1) 79%,rgba(69,187,152,1) 82%,rgba(70,181,148,1) 86%,rgba(64,172,140,1) 93%,rgba(63,171,139,1) 96%,rgba(65,156,125,1) 100%);
background: -ms-linear-gradient(top, rgba(130,202,178,1) 0%,rgba(140,212,188,1) 4%,rgba(120,220,192,1) 7%,rgba(116,216,188,1) 11%,rgba(107,220,190,1) 14%,rgba(102,215,185,1) 18%,rgba(80,198,166,1) 21%,rgba(76,194,162,1) 25%,rgba(78,199,164,1) 29%,rgba(78,199,164,1) 32%,rgba(81,207,169,1) 36%,rgba(83,209,171,1) 39%,rgba(82,211,172,1) 57%,rgba(76,205,166,1) 68%,rgba(74,192,157,1) 79%,rgba(69,187,152,1) 82%,rgba(70,181,148,1) 86%,rgba(64,172,140,1) 93%,rgba(63,171,139,1) 96%,rgba(65,156,125,1) 100%);
background: linear-gradient(to bottom, rgba(130,202,178,1) 0%,rgba(140,212,188,1) 4%,rgba(120,220,192,1) 7%,rgba(116,216,188,1) 11%,rgba(107,220,190,1) 14%,rgba(102,215,185,1) 18%,rgba(80,198,166,1) 21%,rgba(76,194,162,1) 25%,rgba(78,199,164,1) 29%,rgba(78,199,164,1) 32%,rgba(81,207,169,1) 36%,rgba(83,209,171,1) 39%,rgba(82,211,172,1) 57%,rgba(76,205,166,1) 68%,rgba(74,192,157,1) 79%,rgba(69,187,152,1) 82%,rgba(70,181,148,1) 86%,rgba(64,172,140,1) 93%,rgba(63,171,139,1) 96%,rgba(65,156,125,1) 100%);}
.side_bar .btn:hover{ background: #eee;}
.col-md-12,
.col-md-3{
	margin: 0;
	padding: 0;
}
.user_feild{ 
	display: block;
	text-align: center;
	box-shadow: inset 0 0 6px #555;
	border: 1px solid;
	border-radius: 14px;
	width: 85%;
	margin: 0 auto;
	font-size: 12px;
	line-height:13px;
}
.form-control{ 
	-webkit-border-radius: -1px !important;
	border-radius:25px !important;
	background: aliceblue;
	border: 3px solid #3fb897 !important;
	width: 100% !important;
	 }
.form-control.error,
.user_feild.error{
	border: 2px solid red !important;
}
.form-horizontal .control-label{ text-align: center !important;font-size: 12px;
	line-height:13px; padding: 0;}
.control-group{margin-bottom: 15px;
}
.image-upload{
	margin: 130px 31%;
}
.sorting_1{
	background-color: #70AD47;
}
.first-column{
	color: white !important;
}
